* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {background-color: rgb(40, 6, 45);}

body {
    background: black;
    height: 100vh;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 16;
}

.main {
    filter: invert(1) hue-rotate(180deg);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 1rem;
    box-sizing: border-box;
}

.quiz {
    display: flex;
    flex-direction: column;
    flex-basis: 85vh;
}


.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    margin: 0 0 1rem 0;
    
}

.home, .exit, .submit_button {
    margin: 0.2rem 1rem;
    padding: 0.2rem 1rem;
    font-size: calc(1rem + 1vw);
    border-radius: 0.5rem;}

/* Quiz Elements
start media query here!
*/


@media only screen and (max-width: 450px) {
    .quiz_no {
        padding: 1rem 0 0 1rem;
        font-size: 16px;
        font-weight: bold;
    }
    
    .question_text {
        font-size: calc(1rem + 0.75vw);
        line-height: 1.5;
    }
    
    .answer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
    }
    
    .score {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem;
        font-size: calc(1rem + 0.7vw);
    }
    
}



@media only screen and (max-width: 850px) and (min-width: 451px) {
    .quiz_no {
        padding: 1rem 0 0 1rem;
        font-size: calc(1rem + 0.75vh);
        font-weight: bold;
    }
    
    .question_text {
        font-size: calc(1rem + 0.75vh);
        padding: 0 1.4rem 0 1.4rem;
        line-height: 1.5;
    }
    
    .answer {
        display : flex;
        font-size: calc(1rem + 0.75vh);
        margin: 0.2rem 1rem;
    }
    
    .score {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 0.5rem;
        font-size: calc(1rem + 0.75vh);
    }
    
}



@media only screen and (max-width: 1290px) and (min-width: 851px) {
    
    .quiz_no {
        padding: 1rem 2rem;
        font-size: calc(1rem + 0.75vw);
        font-weight: 700;
    }
    
    .question_text {
        font-size: calc(1rem + 0.75vw);
        padding: 1rem 2rem;
        line-height: 2;
    }
    
    .answer {
        display : flex;
        font-size: calc(1rem + 0.75vw);
        margin: 1rem 2rem;
    }
    
    .score {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 0.5rem;
        font-size: calc(1rem + 0.75vw);
    }
        
}



@media only screen and (min-width: 1291px) {
    
    .quiz_no {
        padding: 2rem 4rem;
        font-size: calc(1rem + 1vw);
        font-weight: 700;
    }
    
    .question_text {
        font-size: calc(1rem + 1.2vw);
        padding: 0.5rem 4rem;
        line-height: 2;
    }
    
    .answer {
        display : flex;
        font-size: calc(1rem + 0.75vw);
        padding: 1rem 2rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .score {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 0.5rem;
        font-size: calc(1rem + 0.75vw);
    }
        
}


#answer_text_box
{
    font-size: calc(1rem + 0.75vw);
    color: darkred;
}

/* 
smartphone 450px
landscape smartphone 450 - 850
laptop / tablet 850 - 1250
desktop > 1250
*/
